<template>
  <div id="app">
    <div>
      <!-- header -->
      <ul class="nav nav-tabs justify-content-center" id="myTab" role="tablist">
        <li class="nav-item">
          <router-link
            id="home-tab"
            tag="a"
            to="/"
            role="tab"
            class="nav-link active"
            aria-controls="home"
            aria-selected="true"
            data-toggle="tab"
          >Home</router-link>
        </li>
        <li class="nav-item">
          <router-link
            id="function-tab"
            tag="a"
            to="/test"
            role="tab"
            class="nav-link"
            aria-controls="function"
            aria-selected="false"
            data-toggle="tab"
          >Function</router-link>
        </li>
        <li class="nav-item">
          <router-link
            id="place-tab"
            tag="a"
            to="/place"
            role="tab"
            class="nav-link"
            aria-controls="place"
            aria-selected="false"
            data-toggle="tab"
          >Place API</router-link>
        </li>
      </ul>

      <!-- content -->
      <div class="tab-content">
        <div class="tab-pane active" id="home" role="tabpanel" aria-labelledby="home-tab">
          <router-view/>
        </div>
        <div class="tab-pane" id="profile" role="tabpanel" aria-labelledby="profile-tab">
          <router-view/>
        </div>
        <div class="tab-pane" id="messages" role="tabpanel" aria-labelledby="messages-tab">
          <router-view/>
        </div>
        <div class="tab-pane" id="settings" role="tabpanel" aria-labelledby="settings-tab">
          <router-view/>
        </div>
      </div>

      <!-- Footer -->
      <footer class="page-footer font-small blue">
        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">
          © 2018 Copyright:
        </div>
        <!-- Copyright -->
      </footer>
    </div>
  </div>
</template>

<script>
export default {
  name: "App"
};
</script>

<style>
#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 30px;
}
.page-footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(206, 206, 206);
  color: white;
  text-align: center;
}
</style>
