<template>
  <div class="form-group">
    <br>
    <h4>
      <label>Function findX : {{exam}}</label>
      <br>
      <label>Result : {{arr}}</label>
    </h4>
  </div>
</template>
<script>
export default {
  data: () => {
    return {
      temp: [],
      exam: "[3, 5, 9, 15, X]",
      arr: [3, 5, 9, 15]
    };
  },
  mounted() {
    this.findX();
  },
  methods: {
    findX() {
      this.arr.forEach((i, idx) => {
        if (idx !== 0) {
          var t1 = i - this.arr[idx - 1];
          this.temp.push(t1);

          if (this.arr.length - 1 === idx) {
            this.arr.push(i + this.temp[0] + this.temp[this.temp.length - 1]);
          }
        }
      });
    }
  }
};
</script>
<style>
</style>
