<template>
  <div class="form-group">
    <br>
    <h3>Place API</h3>
    <div class="form-group row">
      <label for="staticSearch" style="line-height:39px" class="col-sm-2 text-right">Search</label>
      <div class="col-sm-3">
        <input
          type="text"
          class="form-control"
          id="staticSearch"
          v-model="txtsearch"
          v-on:keyup.enter="get_lat_long"
        >
      </div>
      <div class="col-sm-2 text-left">
         please enter</div>
    </div>
    <div class="form-group row">
      <div class="col-sm-12">
        <div class="col-sm-6 text-left">
        <pre>
          {{result}}
        </pre>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import axios from "axios";
export default {
  data: function() {
    return {
      txtsearch: "bangsue",
      result: '',
      url:
        "https://maps.googleapis.com/maps/api/place/findplacefromtext/json?key=AIzaSyASwN6ZKEznAMnAS5k30-lrNmVlfsC0J_0&inputtype=textquery&fields=photos,formatted_address,name,rating,opening_hours,geometry&input=[input]"
    };
  },
  methods: {
    get_lat_long() {
        axios.get('http://localhost:3002/place/'+this.txtsearch).then(res => {
         this.result = res
        });
    }
  }
};
</script>
